.wsm-container {
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    overflow: hidden;
}

.wsm-knob-container {
    position: absolute;
}

.wsm-label {
    position: absolute;
}